<div class="modal-header bg-primary">
	<span class="pull-left">
		<h4 class="modal-title">Saved Documents</h4>
	</span>
	<span class="pull-right">
		<i class="fa fa-close" ng-click="cancel()"></i>
	</span>
</div>
<div class="modal-body">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Modified</th>
				<th>Size</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr class="doc-row" ng-repeat="doc in documents | orderBy: 'name'" ng-model="doc" ng-hide="doc.removed">
				<td ng-click="selectDoc(doc)">{{doc.name}}</td>
				<td ng-click="selectDoc(doc)">{{doc.modified | date: 'medium' }}</td>
				<td ng-click="selectDoc(doc)">{{doc.size}}</td>
				<td><i class="fa fa-trash" ng-click="deleteDoc(doc)"></i></td>
			</tr>
		</tbody>
	</table>
</div>