<!DOCTYPE html>
<html lang="en" ng-app="App">
	<head>
		<title>SoloWriter</title>
		<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="styles/solo.css">
		<script type="text/javascript" src="scripts/angular.min.js"></script>
		<script type="text/javascript" src="scripts/ui-bootstrap-tpls-2.0.1.min.js"></script>
		<script type="text/javascript" src="scripts/solo.js"></script>
	</head>
	<body ng-controller="DocumentStore">
		<div id="alert" class="alert alert-danger" role="alert">
		</div>
		<div id="body">
			<div id="editor">
				<textarea id="content" ng-attr-placeholder="Enter text..." ng-model="content" ng-change="setDirty()" ng-style="{ 'font-size': text.size + 'px' }"></textarea>
			</div>
		</div>
		<div id="footer">
			<div ng-if="!settings">
				<div class="pull-left">
					<button class="btn btn-warning navbar-btn" ng-click="reset()"><i class="fa fa-star-o"></i>&nbsp;New</button>
					<button class="btn btn-success navbar-btn" ng-click="open()" ng-disabled="dirty"><i class="fa fa-folder-open-o"></i>&nbsp;Open</button>
					<button class="btn btn-primary navbar-btn" ng-click="save(name, content)" ng-disabled="!dirty || name == ''"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
					<input id="name" type="text" placeholder="Enter name..." ng-model="name" ng-minlength="1" ng-maxlength="256" ng-trim="true" ng-change="setDirty()"></input>
				</div>
				<div class="pull-right">
					<button class="btn btn-info navbar-btn" ng-click="enter_settings()"><i class="fa fa-gear"></i>&nbsp;Settings</button>
					<div class="btn-group" role="group" ng-if="development">
						<button class="btn btn-warning navbar-btn" ng-click="reload()"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
						<button class="btn btn-danger navbar-btn" ng-click="quit()"><i class="fa fa-power-off"></i>&nbsp;Quit</button>
					</div>
					<button class="btn btn-danger navbar-btn" ng-click="shutdown()" ng-if="!development"><i class="fa fa-power-off"></i>&nbsp;Power Off</button>
				</div>
			</div>
			<div ng-if="settings">
				<button class="btn btn-danger navbar-btn" ng-click="exit_settings()"><i class="fa fa-chevron-left"></i>&nbsp;Back</button>
				<div class="btn-group" role="group">
					<button class="btn btn-primary navbar-btn" ng-click="text_size(2)"><i class="fa fa-plus"></i></button>
					<button class="btn btn-primary navbar-btn" ng-click="text_size()">Font</button>
					<button class="btn btn-primary navbar-btn" ng-click="text_size(-2)"><i class="fa fa-minus"></i></button>
				</div>
			</div>
		</div>
	</body>
</html>