<div class="modal-header bg-danger">
	<h4 class="modal-title">Storage Settings</h4>
</div>
<div class="modal-body">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Location</th>
				<th>Capacity</th>
				<th>Available</th>
				<th ng-if="isDevelopment()">ID</id>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="volume in volumes">
				<td ng-switch="volume.mounted">
					<i ng-switch-when="true" class="fa fa-fw fa-lg" ng-class="isVolumeSelected(volume) ? 'fa-check-square-o' : 'fa-square-o'" ng-click="selectVolume(volume)"></i>
					<i ng-switch-when="true" class="fa fa-fw fa-lg fa-unlink" ng-show="volume.can_unmount" ng-click="unmountVolume(volume)"></i>
					<i ng-switch-when="false" class="fa fa-fw fa-lg fa-link" ng-show="volume.can_mount" ng-click="mountVolume(volume)"></i>
				</td>
				<td><i class="fa fa-fw fa-lg" ng-class="getStorageIcon(volume)"></i></td>
				<td>{{volume.label}}</td>
				<td>{{volume.total_space | bytes}}</td>
				<td>{{volume.available_space | bytes}}</td>
				<td ng-if="isDevelopment()">{{volume.id}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>