<div class="modal-header bg-success">
	<h4 class="modal-title pull-left">Storage Settings</h4>
	<i role="button" class="fa fa-2x fa-close pull-right" ng-click="$dismiss('cancel')"></i>
	<i class="fa fa-2x fa-spinner fa-spin pull-right" ng-show="loading"></i>
</div>
<div class="modal-body">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Type</th>
				<th>Location</th>
				<th>Capacity</th>
				<th>Available</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="volume in volumes">
				<td><i class="fa fa-lg fa-fw" ng-class="volume.getIcon()"></i></td>
				<td>{{volume.label}}</td>
				<td>{{volume.total_space | bytes}}</td>
				<td>{{volume.available_space | bytes}}</td>
				<td>
					<i ng-show="isOperatingOn(volume)" class="fa fa-lg fa-fw fa-spinner fa-spin"></i>
					<i ng-show="isSelectable(volume)" role="button" class="fa fa-lg fa-fw" title="Select" ng-class="isCurrent(volume) ? 'fa-check-square-o' : 'fa-square-o'" ng-click="select(volume)"></i>
					<i ng-show="isUnmountable(volume)" role="button" class="fa fa-lg fa-fw fa-eject" title="Disconnect" ng-click="unmount(volume)"></i>
					<i ng-show="isMountable(volume)" role="button" class="fa fa-lg fa-fw fa-link" title="Connect" ng-click="mount(volume)"></i>
				</td>
			</tr>
		</tbody>
	</table>
</div>
