<div class="modal-header bg-primary">
	<h4 class="modal-title pull-left">Users</h4>
	<i class="fa fa-2x fa-close pull-right" role="button" ng-click="$dismiss('cancel')"></i>
	<i class="fa fa-2x fa-spinner fa-spin pull-right" ng-show="loading == true"></i>
</div>
<div class="modal-body">
	<form name="new_user">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Last Modified</th>
					<th>Last Login</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody ng-switch="users.length">
				<tr ng-switch-default ng-repeat="user in users | orderBy: 'username'" ng-model="user" ng-class="isCurrent(user) ? 'bg-warning' : ''">
					<td role="button" ng-class="isCurrent(user) ? 'text-warning' : 'text-success'" ng-click="isCurrent(user) ? logoutUser(user) : loginUser(user)"><i class="fa fa-lg fa-fw" ng-class="isCurrent(user) ? 'fa-lock' : 'fa-unlock'"></i>&nbsp;{{user.username}}</td>
					<td title="{{user.modified.toString()}}">{{user.modified.fromNow()}}</td>
					<td title="{{user.loggedin.toString()}}">{{user.loggedin.fromNow()}}</td>
					<td>
						<i class="fa fa-lg fa-fw fa-edit" role="button" title="Change Username" ng-click="changeUsername(user)"></i>
						<i class="fa fa-lg fa-fw fa-user-secret" role="button" title="Change Password" ng-click="changePassword(user)"></i>
						<i class="fa fa-lg fa-fw fa-trash" role="button" title="Delete" ng-click="deleteUser(user)"></i>						
					</td>
				</tr>
				<tr ng-switch-when="0">
					<td colspan="4" class="text-center">No users</td>
				</tr>
				<tr>
					<td class="vertical-center" colspan="2">
						<input type="text" class="form-control input-sm" placeholder="Enter username" ng-minlength="1" ng-trim="true" ng-model="username" required autofocus ng-enter="new_user.$valid && addUser(username, password)"></input>
					</td>
					<td>
						<input type="password" class="form-control input-sm" placeholder="Enter password" ng-minlength="3" ng-model="password" required ng-enter="new_user.$valid && addUser(username, password)"></input>
					</td>
					<td class="vertical-center">
						<i role="button" class="fa fa-lg fa-fw fa-user-plus" ng-class="new_user.$valid ? '' : 'text-muted'" title="Add User" ng-click="new_user.$valid && addUser(username, password)"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
