<div class="modal-header bg-primary">
	<h4 class="modal-title pull-left"><span ng-if="currentUser">{{currentUser.getName()}}'s</span><span ng-if="!currentUser">Shared</span> Documents on <span ng-click="selectStorage()">{{currentVolume.label}}&nbsp;<i class="fa fa-caret-down"></i></span></h4>
	<i class="fa fa-close pull-right" ng-click="$dismiss('cancel')"></i>
</div>
<div class="modal-body">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Modified</th>
				<th>Size</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody ng-if="documents.length > 0">
			<tr class="doc-row" ng-repeat="doc in documents | orderBy: 'name'" ng-model="doc" ng-hide="doc.removed">
				<td ng-click="selectDoc(doc)">{{doc.name}}</td>
				<td ng-click="selectDoc(doc)">{{doc.modified | date: 'medium' }}</td>
				<td ng-click="selectDoc(doc)">{{doc.size | bytes}}</td>
				<td><i class="fa fa-trash" ng-click="deleteDoc(doc)"></i></td>
			</tr>
		</tbody>
		<tbody ng-if="documents.length == 0">
			<tr>
				<td colspan="4" class="text-center">No saved documents</td>
			</tr>
		</tbody>
	</table>
</div>