<div class="modal-header bg-primary">
	<h4 class="modal-title pull-left"><strong role="button" ng-click="selectUser()">{{userGreeting()}}&nbsp;<i class="fa fa-lg fa-caret-down"></i></strong> Documents on <strong role="button" ng-click="selectStorage()">{{currentVolume.label}}&nbsp;<i class="fa fa-lg fa-caret-down"></i></strong></h4>
	<i class="fa fa-2x fa-close pull-right" role="button" ng-click="$dismiss('cancel')"></i>
</div>
<div class="modal-body">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Modified</th>
				<th>Size</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody ng-switch="documents.length">
			<tr ng-switch-default role="button" ng-repeat="doc in documents | orderBy: 'name'" ng-model="doc" ng-hide="doc.removed">
				<td ng-click="selectDoc(doc)">{{doc.name}}</td>
				<td ng-click="selectDoc(doc)">{{doc.modified | date: 'short' }}</td>
				<td ng-click="selectDoc(doc)">{{doc.size | bytes}}</td>
				<td>
					<i class="fa fa-lg fa-lock" role="button" ng-show="!doc.locked" ng-click="lockDoc(doc)" title="Lock"></i>
					<i class="fa fa-lg fa-unlock" role="button" ng-show="doc.locked" ng-click="unlockDoc(doc)" title="Unlock"></i>
					<i class="fa fa-lg fa-trash" role="button" ng-show="!doc.locked" ng-click="deleteDoc(doc)" title="Delete"></i>
				</td>
			</tr>
			<tr ng-switch-when="0">
				<td colspan="4" class="text-center">No saved documents</td>
			</tr>
		</tbody>
	</table>
</div>