<div class="modal-header bg-primary">
	<h4 class="modal-title pull-left">Users <i class="fa fa-lg fa-fw fa-spinner fa-spin" ng-show="loading == true"></i></h4>
	<i class="fa fa-lg fa-close pull-right" ng-click="$dismiss('cancel')"></i>
</div>
<div class="modal-body">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>Last Modified</th>
				<th>Last Login</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="users.length > 0" ng-repeat="user in users | orderBy: 'username'" ng-model="user">
				<td>{{user.username}}</td>
				<td>{{user.last_modified | date: 'medium'}}</td>
				<td>{{user.last_login | date: 'medium'}}</td>
				<td><i class="fa fa-lg fa-fw fa-edit" title="Change Username" ng-click="changeUsername(user)"></i><i class="fa fa-lg fa-fw fa-user-secret" title="Change Password" ng-click="changePassword(user)"></i> <i class="fa fa-lg fa-fw fa-trash" title="Delete" ng-click="deleteUser(user)"></i></td>
			</tr>
			<tr ng-if="users.length == 0">
				<td colspan="4" class="text-center">No users</td>
			</tr>
			<tr>
				<td class="vertical-center" colspan="3"><input type="text" class="form-control" ng-model="username" autofocus></input></td>
				<td class="vertical-center"><i class="fa fa-lg fa-fw fa-user-plus" title="Add User" ng-disabled="!username" ng-click="addUser()"></i></td>
			</tr>
		</tbody>
	</table>
</div>
